.card {
    width: 200px;
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(232, 230, 230, 0.85);
    box-shadow: 2px 4px 4px rgb(255, 100, 0);
    border-radius: 10px;

}

.hokages {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.btn {
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    box-shadow: 2px 4px 4px rgb(255, 100, 0);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.card span {
    text-align: center;
}
.card img{
    padding-top: 10px;
    width: 150px;
    height: 90px;
    box-shadow: 2px 4px 4px rgb(255, 100, 0);
}

h2 {
    text-align: center;
    font-size: 50px;
}

.wrapper {
    background-image: url("https://foni.club/uploads/posts/2023-02/1675353147_foni-club-p-fon-konokha-zadnii-3.jpg");
    background-size: cover;
}
